:root{
	--txt-color: ;
	--xxeret-color: ;
}

/* body */
.pagebody{
	background-color: #fff;
	color:#757575 ;
}

/* ul none */
.list{
	list-style-type: none;
}

/* UL */
.pagebody ul{
	 ;list-style-type: none;
}

/* header */
.header-logo{
	color:#000000 ;
}
.logoweb{
	color:#2196F3 ;
}

/* Site nav */
.nav .a-nav{
	color: #212121;
}
.nav .a-nav:hover,
.nav .a-nav:focus{
	color: #2196F3;
	}

	.contacts .mail-phone{
		color: #757575;
	}

	.contacts .mail-phone:hover,
	.contacts .mail-phone:focus{
		color: #2196F3;
	}
	
	/* Section1 */
	.section1 .s1h1{
		color: #FFFFFF;
	}
	.section1{
		background-color: #2F303A;
	}

	.section1 .button{
		background-color: #2196F3 ;
		color: #FFFFFF ;
	}

/* Section2> */
	.section2 .section2-title{
		color: #212121;
	}

/* #212121 основной цвет текста( Черный) */
/* #757575 текст абзаца */


/* #2196F3 bg color button, наведение
   #FFFFFF text color button*/

/* #FFFFFF body background color */
/* #2F303A footer bg color and 1st section */
