:root{
	--txt-color:#212121 ;
	--body-color:#757575 ;
	--hover-color:#2196F3 ;
	--button-text-color:#FFFFFF ;
	--footer-bg-color:#2F303A ;
	--button-bg-color:#F5F4FA ;

}

/* body */
.pagebody{
	background-color: #fff;
	color:#757575 ;
}

/* ul none */
.list{
	list-style-type: none;
}

/* UL */
.pagebody ul{
	 ;list-style-type: none;
}

/* header */
.header-logo{
	color:#000000 ;
}
.logoweb{
	color:#2196F3 ;
}

/* Site nav */
.nav .a-nav{
	color: #212121;
}
.nav .a-nav:hover,
.nav .a-nav:focus{
	color: #2196F3;
	}

	.contacts .mail-phone{
		color: #757575;
	}

	.contacts .mail-phone:hover,
	.contacts .mail-phone:focus{
		color: #2196F3;
	}
	
	.nav .a-nav.current{
		color: var(--hover-color) ;
	}

	/* Section1 */
	.section1 .s1h1{
		color: #FFFFFF;
	}
	.section1{
		background-color: #2F303A;
	}

	.section1 .button{
		background-color: #2196F3 ;
		color: #FFFFFF ;
	}

/* Section2> */
	.section2 .section2-title{
		color: #212121;
	}

/* portfolio */
.div1 .div-button{
	color:var(--txt-color) ;
	background-color:var(--button-bg-color);
}
.div1 .div-button:hover,
.div1 .div-button:focus{
color: var(--button-text-color) ;
background-color:var(--hover-color);
}